{% extends 'homepage.html' %}
{% load static i18n %}
{% block content %}
<div class="cls"></div>
<div class="partner">
    <div class="container">
        <div class="rect">{% trans "#партнеры" %}</div>
    </div>
</div>
<div class="partner_content">
    <div class="container">
        <p>
            {% trans "Новый Ритм постоянно работает над расширением сетей организаций и групп, с которыми мы сотрудничаем. От долгосрочных партнерских отношений с организациями, предоставляющими нам гранты, до краткосрочных партнеров определенных мероприятий — это сотрудничество, которое мы очень ценим. Ниже есть информация о наших устойчивых партнерах, с которыми сотрудничаем по сей день." %}
        </p>
        <p>
            {% trans "Мы также благодарим других наших партнеров — частных лиц и организации, которые поддержали выступления, краткие тренинги и семинары, даже если они не упоминаются по имени. Новый Ритм принимает эту поддержку как способ обмена знаниями и опытом, и мы надеемся, что эта поддержка и сотрудничество между различными организациями будут продолжаться, чтобы обмениваться навыками и опытом и развиваться вместе." %}
        </p>

        <!--Partners-->
        {% for part in partners %}
        <div class="df_partner">
            <h2>{{part.title}}</h2>
            <img src="{{part.logo.url}}" alt="" />
        </div>
        <p>
            {{part.part_desc|truncatewords:30}}
        </p>
        <span>{% trans "Более подробная информация" %} &nbsp;<a href="{{part.get_absolute_url}}" class="link_to_pro">{% trans "здесь." %}</a></span>
        {% endfor %}
        <!--Partners-->

    </div>
</div>
{% include 'blocks_homepage/share_news.html' %}

{% endblock content %}